@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

.work {
  overflow: hidden;
  font-family: "Nanum Myeongjo", serif;
  color: white;
  font-size: 8rem;
  font-weight: 100;
  width: 100%;
  height: fit-content;
  background-color: rgb(10, 10, 10);
}
.work h4 {
  text-align: center;
  margin: 0;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
}

.project img {
  position: absolute;
  width: 24rem;
  height: 29rem;
}
.project img:nth-child(even) {
  opacity: 0.2;
  position: absolute;
  width: 25rem;
  height: 30rem;
}

.w-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 70vh;
}

.w-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}
.w-main p {
  font-size: 3.5rem;
}
.des {
  width: 40rem;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
}

@media only screen and (max-width: 600px) {
  .project img {
    width: 10rem;
    height: 15rem;
  }
  .project img:nth-child(even) {
    width: 10rem;
    height: 16rem;
  }
  .project{
    width: 15rem;
  }
  .des p {
    padding: 1rem;
    font-size: 1rem;
  }
  .des {
    width: 50%;
  }

  .w-box {
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .w-main h6 {
    font-size: 2rem;
    margin: 3rem;
  }
  .work h4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 4rem;
  }
  .work {
    height: 570vh;
  }
}
