body,html, #root{
  width: 100%;
  height: 100%;
  margin: 0;
}

canvas {
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
  }
